*{
    margin: 0;padding: 0;
}

body{
     font-family: "Poppins", sans-serif;
}

.counter{
    background-image: url("/sean-oulashin-KMn4VEeEPR8-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
   
}

h1,h2{
    
    font-size: 40px;
}

h3{
    font-size: 25px;
    margin: 10px;
}

.btn{
    background: linear-gradient(rgb(153, 219, 153),rgb(88, 166, 202));
    border: 1px solid pink;
    font-size: 20px;
    margin: 10px;
    padding: 5px 10px;
    box-shadow:0 0 5px white;
    cursor: pointer;
    transition: all 0.1s ease;
}

.btn:active{
    transform: scale(0.95);
}