*{
    margin: 0;padding: 0;
}

.cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 50vw;
    height: 60vh;
    margin: 100px auto;
}

.btn-cover{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* gap: 100px; */
}

.todo-list-cover{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.flex{
    display: flex;
    flex-direction: column;
}

