*{
    padding: 0;
    margin: 0;
}
li{
    cursor: pointer;
}
.container1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container2, .container3{
    display: flex;
    width: 500px;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    
}
ul{
    list-style: none;
}

.container3 .Buy{
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    padding: 12px;
}
.container3 .search{
    width: 69px;
    font-size: 17px;
    font-weight: 200;
    padding: 7px;
    border-radius: 50px;
}
.container3 .eng{
    font-size: 21px;
}
.logo